@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Talk Management</h1>
    <p>
        Blub
    </p>
    <p>
        <img src="~/images/mic.jpg" class="img" height="20%" width="20%" />
    </p>
</div>
