@page
@model MyApp.Namespace.SpeakerAwayModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                Header1
            </th>
            <th>
                Header2
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Body1
            </td>
            <td>
                Body1
            </td>
        </tr>
    </tbody>
</table>