@page
@model MyApp.Namespace.SpeakerAwayModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Thema
            </th>
            <th>
                Name
            </th>
            <th>
                Versammlung
            </th>
            <th>
                Tag
            </th>
            <th>
                Zeit
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Datum
            </td>
            <td>
                tdema
            </td>
            <td>
                Name
            </td>
            <td>
                Versammlung
            </td>
            <td>
                Tag
            </td>
            <td>
                Zeit
            </td>
        </tr>
        <tr>
            <td>
                Datum
            </td>
            <td>
                tdema
            </td>
            <td>
                Name
            </td>
            <td>
                Versammlung
            </td>
            <td>
                Tag
            </td>
            <td>
                Zeit
            </td>
        </tr>
        <tr>
            <td>
                Datum
            </td>
            <td>
                tdema
            </td>
            <td>
                Name
            </td>
            <td>
                Versammlung
            </td>
            <td>
                Tag
            </td>
            <td>
                Zeit
            </td>
        </tr>
        <tr>
            <td>
                Datum
            </td>
            <td>
                tdema
            </td>
            <td>
                Name
            </td>
            <td>
                Versammlung
            </td>
            <td>
                Tag
            </td>
            <td>
                Zeit
            </td>
        </tr>
    </tbody>
</table>